<ul class="nav justify-content-center navbar-light bg-light border-bottom shadow-sm">
    <li class="nav-item">
        <a class="nav-link text-dark" href="/admin/court">코트관리</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/admin/lesson">강습관리</a>
    </li>
</ul>