<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/lesson.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>

{{>layout/nav_bar}}

<article>
    <div>
        <div class="container">
            <div class="lessonDistrict">
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    {{#lessons}}
                    <div class="lessonBox">
                        <a href="#">
                            <div class="lessonTitle">
                                <p>{{name}}</p>
                            </div></a>
                        <div id="lessonDetail" style="display: none;" class="lessonDetail">
                            <div class="lessonDetail_titles">주소</div>
                            <div class="lessonDetail_infos">{{address}}</div>
                            <div class="lessonDetail_titles">web</div>
                            <a href="#" target="_blank"><div class="lessonDetail_infos">{{web}}</div></a>
                            <div class="lessonDetail_titles">안내</div>
                            <div class="lessonDetail_infos">{{info}}</div>
                        </div>
                    </div>
                    {{/lessons}}
                </div>
            </div>
        </div>
    </div>


</article>
<aside>
    <div id="AD1">
        <div></div>
    </div>
</aside>



{{>layout/footer_new}}

</body>
</html>