{{>layout/header_new}}

<article>
    <div>
        <div class="container">
            <div class="lessonDistrict">
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    {{#lessons}}
                    <div class="lessonBox">
                        <a href="#">
                            <div class="lessonTitle">
                                <p>{{name}}</p>
                            </div></a>
                        <div id="lessonDetail" style="display: none;" class="lessonDetail">
                            <div class="lessonDetail_titles">주소</div>
                            <div class="lessonDetail_infos">{{address}}</div>
                            <div class="lessonDetail_titles">web</div>
                            <a href="#" target="_blank"><div class="lessonDetail_infos">{{web}}</div></a>
                            <div class="lessonDetail_titles">안내</div>
                            <div class="lessonDetail_infos">{{info}}</div>
                        </div>
                    </div>
                    {{/lessons}}
                </div>
            </div>
        </div>
    </div>


</article>
<aside>
    <div id="AD1">
        <div></div>
    </div>
</aside>



{{>layout/footer_new}}